package templates

import "github.com/Crampustallin/todoList/models"
import "strconv"

templ Response(text map[int]models.Todo) {
for _, txt := range text {
	<li>{txt.Description}:{txt.Status}
		<button hx-delete={"/clicked/?id="+strconv.Itoa(txt.ID)}
		hx-target="#handleResponse">X</button>
		<button hx-put={"/clicked/?id="+strconv.Itoa(txt.ID)}>edit</button>
	</li>
	}
}
